@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

body {
    font-family: Josefin Slab;
    background-image: url(https://images.unsplash.com/photo-1573572042111-dcdf086047be?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80)
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    box-sizing: border-box;
}

.header {
    font-style: oblique;
    position: relative;
}

h1 {
    font-size: 10rem;
	text-align: center;
    height:30vh;
    line-height: 30vh;
	color:cornsilk;
	font-family: 'Niconne', cursive;
	font-weight: 700;
    text-shadow: 5px 5px 0px #d52e3f;
}

h2 {
    font-size: x-large;
    text-align: center;
    font: underline;
}

.bookCard {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.book-form-div {
    display: inline-block;
    text-align: center;
}

.book-form {
    max-width: fit-content;
    text-align: center;
}

.books {
    background-color: cornsilk;
}

p {
    font-size: large;
}

button {
    margin: 0.25rem;
}

